.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
/* Main Nav Comp */
.nav__username {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
}

.mainNav a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/* Home page */

.home__jumbo {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("./assets/homej.jpg");
  object-fit: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbo-txt {
  position: absolute;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100vh;
  color: white;
  top: 25%;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbo__button {
  position: absolute;
  top: 35%;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}
/* Main Card  */
.vendor__card{
  margin: 10px;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.card__container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
}

.card__img{
  width: 300px;
  height:200px;
  margin-bottom: 10px;
}
/* Main page */
.main__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__cards {
  min-width: 100%;
  min-height: 100vh;
}
.main__hero {
  margin-bottom: 10vh;
  width: 100%;
  min-height: 50vh;
  background-image: url("./assets/texturebg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(177, 177, 177, 0.16);
}
.button {
  background-color: black;
}
/* Login */

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-image: url("./assets/citypic.jpg");
  object-fit: center;
  background-size: cover;
}

.form__login {
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 25vh;
  min-height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: hsla(180, 3%, 94%, 0.577);
  border-radius: 10%;
}

.login__button {
  margin-top: 10px;
  margin-right: 2px;
}

.signup__button {
  margin-top: 10px;
  margin-left: 2px;
}

.form__signup {
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  max-width: 40vh;
  min-height: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.776);
  border-radius: 3%;
}

.form__signup h3 {
  padding-bottom: 1rem;
}

/* Task Board */
.Task__list {
  justify-content: center;
  align-items: center;
  width: 50%;
}
.task__hero {
  margin-bottom: 10vh;
  width: 100%;
  min-height: 50vh;
  background-image: url("./assets/homeJumbo.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(198, 198, 198, 0.16);
}
.new__task__container {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(213, 213, 213, 0.208);
  width: 60vh;
  justify-content: center;
  align-items: center;
}

.task__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  width: 60vh;
  margin-top: 40px;
  background-color: rgba(182, 182, 182, 0.098);
}

.task__action {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10%;
  color: rgb(255, 255, 255);
  background-color: rgba(55, 55, 55, 0.66);
  position: relative;
  margin-bottom: 10px;
}

.task__comment_container{
  width: 40vh;
  margin-bottom: 20px;
}
.task__container{
  justify-content: center;
  align-items: center;
}

.message__disclaimer{
  color:red;
  font-size: .7rem;
}

/* Profile Page*/

.profile__hero{
   margin-bottom: 10vh;
  width: 100%;
  min-height: 50vh;
  background-image: url("./assets/victor-iaquA2snPbk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(198, 198, 198, 0.16);
}
.profile__card{
  margin: none;
  justify-content: center;
  align-items: center;
  width:70vh;
}

.profile__message{
  margin:10px;
  padding:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Company Page */ 
.company__hero{
  margin-bottom: 10vh;
  width: 100%;
  min-height: 50vh;
  background-image: url("./assets/tim-mossholder-qvWnGmoTbik-unsplash.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(198, 198, 198, 0.16)
}

.company__container{
  display: flex;
  justify-content: center;
  align-items: center;
}